[submodule "bundle/delimitMate"]
    path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/django.vim"]
    path = bundle/django.vim
	url = https://github.com/vim-scripts/django.vim.git
[submodule "bundle/genutils"]
    path = bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "bundle/multiselect"]
    path = bundle/multiselect
	url = https://github.com/vim-scripts/multiselect.git
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate.vim"]
    path = bundle/snipmate.vim
	url = git@github.com:dashuaige92/snipmate.vim.git
[submodule "bundle/tagbar"]
    path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-fugitive"]
    path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-matchit"]
    path = bundle/vim-matchit
	url = git@github.com:dashuaige92/vim-matchit.git
[submodule "bundle/vim-ragtag"]
    path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-repeat"]
    path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
    path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-togglemouse"]
    path = bundle/vim-togglemouse
	url = https://github.com/nvie/vim-togglemouse.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:dashuaige92/nerdcommenter.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
